body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:45px;
  top:458px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:45px;
  top:340px;
  width:145px;
  height:42px;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:34px;
  top:576px;
  width:217px;
  height:42px;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:450px;
  top:346px;
  width:680px;
  height:324px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:324px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:360px;
  top:330px;
  width:710px;
  height:288px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:288px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:220px;
  width:580px;
  height:80px;
  font-size:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:80px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
