body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:560px;
  top:350px;
  width:70px;
  height:25px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:568px;
  top:396px;
  width:50px;
  height:20px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:350px;
  width:190px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6_input {
  font-family:'应用字体';
}
#u7 {
  position:absolute;
  left:557px;
  top:441px;
  width:93px;
  height:26px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7_input {
  font-family:'应用字体';
}
#u8 {
  position:absolute;
  left:743px;
  top:440px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8_input {
  font-family:'应用字体';
}
#u9 {
  position:absolute;
  left:660px;
  top:396px;
  width:190px;
  height:24px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9_input {
  font-family:'应用字体';
}
